{% extends "base.html" %}

{% block content %}
<div class="col-12">
  <h1>Data & privacy policy</h1>
</div>
<div class="col-12">
  <p>This research is being conducted by:</p>
  <ul>
    <li>Brett Becker (University College Dublin, <a href="https://www.brettbecker.com/">https://www.brettbecker.com/</a>)</li>
    <li>Michelle Craig (University of Toronto, <a href="http://www.cs.toronto.edu/~mcraig/">http://www.cs.toronto.edu/~mcraig/</a>)</li>
    <li>Paul Denny (The University of Auckland, <a href="https://www.cs.auckland.ac.nz/~paul/">https://www.cs.auckland.ac.nz/~paul/</a>)</li>
    <li>Greg Wilson (RStudio, <a href="http://third-bit.com/">http://third-bit.com/</a>)</li>
  </ul>
  <p>with approval from the Research Ethics Board at the University of Toronto. If you have any questions about the study, you are encouraged to contact any of the investigators. If you have questions about your rights as a participant, please contact the Office of Research Ethics at <a href="ethics.review@utoronto.ca">ethics.review@utoronto.ca</a> or 1-416-946-3273. The research ethics program may have confidential access to data to help ensure participant protection procedures are followed.</p>

  <p>We will store any contact information separately from the actual study data. For this reason, we will not be able to withdraw your data from the study once you have submitted. We will keep de-identified data for 10 years to allow other researchers to replicate the analysis.</p>

  <p>Entering your e-mail address on this site is only required if you want to enter the draw, or to receive the paper(s) about this study.</p>
</div>
{% endblock %}
