{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col-12">
  <p>We are studying questions that computing instructors would like computing
  education researchers to investigate. In this survey, you will be shown
  a total of 40 questions and we would like you to rank each on a scale ranging
  from 'very unimportant' to 'very important'. These questions will be divided
  into 2 sets, with each set shown on a separate page of the survey.</p>
  <p>Your participation should take about 15 minutes and we would like to enter
  your name into a random draw for $250 USD as a thank you. Your odds of
  winning will be at least 1 in 200. We would also be happy to send you the
  results of the research once it is completed. We do not believe that there
  are any risks to you as a participant.</p>
</div>
<div class="col-12">
  {% crispy form %}
</div>
{% endblock %}

