{% extends "base.html" %}

{% block content %}
<div class="col-12">
  <h5>In the first phase of this research, we collected a large set of research questions of interest to computing educators.  In this, the second stage of the research, we would like your help prioritizing the questions.  Below is a random selection of questions from the set.  For each of the following questions, please indicate how important it is in your opinion to have a computing education researcher answer this question.</h5>
</div>
<div class="col-12">
  <form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-bordered table-hover ranking">
      <thead>
        <tr class="table-active">
          <th>Question</th>
          <th>Very unimportant</th>
          <th>Unimportant</th>
          <th>Indifferent</th>
          <th>Important</th>
          <th>Very important</th>
          <th>Don't understand</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in formset %}
        <tr class="{% if entry.rank.errors %}table-danger{% endif %}">
          {{ entry.id }}
          <th>
            {{ entry.instance.question.content }}
            {% if entry.rank.errors %}
            <small><ul class="text-danger">
              {% for error in entry.rank.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul></small>
            {% endif %}
          </th>
          <td>{{ entry.rank.1.tag }}</td>
          <td>{{ entry.rank.2.tag }}</td>
          <td>{{ entry.rank.3.tag }}</td>
          <td>{{ entry.rank.4.tag }}</td>
          <td>{{ entry.rank.5.tag }}</td>
          <td>{{ entry.rank.6.tag }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="form-actions">
      <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
    </div>
  </form>
</div>
<p></p>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $(function() {
    $("table.ranking td").click(function (event) {
      if (event.target.type !== 'radio') {
        $('input:radio', this).trigger('click');
      }
    });
  });
</script>
{% endblock %}
