{% extends "base.html" %}

{% block content %}
<div class="col-12">
  <p>Suppose a researcher was going to explore questions that are important to you about how computing is taught or learned. What questions would you like answered? Why do you want to know? What would you do with the answers?</p>

  <p>Here are some example questions to give you an idea of what we are looking for:</p>

  <p>Will teaching children Scratch before teaching them Python or Java help them learn the latter faster?</p>

  <p>What is the most important thing that students finishing a four-year degree still don't understand about computing?</p>

  <p>Is there any way to predict how well someone will do in their first programming course if they've never programmed before?</p>

  <p>Which concepts are the most problematic for adults teaching themselves programming on the job, and does the answer depend on age, gender, or socioeconomic background?</p>
</div>
<div class="col-12">
  <form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-bordered table-hover ranking">
      <thead>
        <tr class="table-active">
          <th>Question</th>
          <th>Essential</th>
          <th>Worthwhile</th>
          <th>Unimportant</th>
          <th>Unwise</th>
          <th>Don't understand</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in formset %}
        <tr>
          {{ entry.id }}
          <th>
            {{ entry.instance.question.content }}
            {% if entry.rank.errors %}
            <small><ul class="text-danger">
              {% for error in entry.rank.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul></small>
            {% endif %}
          </th>
          <td>{{ entry.rank.1.tag }}</td>
          <td>{{ entry.rank.2.tag }}</td>
          <td>{{ entry.rank.3.tag }}</td>
          <td>{{ entry.rank.4.tag }}</td>
          <td>{{ entry.rank.5.tag }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p style="font-size: 1.2rem">By clicking "Save" you indicate your consent for the use of your answers in the study.</p>
    <div class="form-actions">
      <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
    </div>
  </form>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $(function() {
    $("table.ranking td").click(function (event) {
      if (event.target.type !== 'radio') {
        $('input:radio', this).trigger('click');
      }
    });
  });
</script>
{% endblock %}
