{% extends "admin/change_list.html" %}
{% load humanize %}

{% block result_list %}
<div class="results">
  <table>
    <thead>
      <tr>
        <th width="33%">
          <div class="text">
            <a href="#">Question</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Category</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Essential</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Worthwhile</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Unimportant</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Unwise</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Don't understand</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for q in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ q.content }}</td>
        <td>{{ q.category }}</td>
        <td>{{ q.essential_count }} ({% widthratio q.essential_count q.total_ranks 100 %} %)</td>
        <td>{{ q.worthwhile_count }} ({% widthratio q.worthwhile_count q.total_ranks 100 %} %)</td>
        <td>{{ q.unimportant_count }} ({% widthratio q.unimportant_count q.total_ranks 100 %} %)</td>
        <td>{{ q.unwise_count }} ({% widthratio q.unwise_count q.total_ranks 100 %} %)</td>
        <td>{{ q.dont_understand_count }} ({% widthratio q.dont_understand_count q.total_ranks 100 %} %)</td>
        <td>{{ q.total_ranks }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
