{% extends "admin/change_list.html" %}
{% load humanize %}

{% block result_list %}
<div class="results">
  <table>
    <thead>
      <tr>
        <th width="33%">
          <div class="text">
            <a href="#">Question</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Average rank</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Min rank</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Max rank</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">No. of rankings</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for q in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ q.content }}</td>
        <td>{{ q.avg_rank | floatformat | intcomma }}</td>
        <td>{{ q.min_rank | intcomma }}</td>
        <td>{{ q.max_rank | intcomma }}</td>
        <td>{{ q.total_ranks }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
