{% extends "admin/change_list.html" %}
{% load humanize %}

{% block result_list %}
<div class="results">
  <table>
    <thead>
      <tr>
        <th width="33%">
          <div class="text">
            <a href="#">Question</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Category</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Very unimportant</a>
          </div>
        </th>
        </th>
        <th>
          <div class="text">
            <a href="#">Unimportant</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Indifferent</a>
          </div>
        <th>
          <div class="text">
            <a href="#">Important</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Very important</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Don't understand</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for q in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ q.content }}</td>
        <td>{{ q.category }}</td>
        <td>{{ q.vunimportant_count }} ({% widthratio q.vunimportant_count q.total_ranks 100 %} %)</td>
        <td>{{ q.unimportant_count }} ({% widthratio q.unimportant_count q.total_ranks 100 %} %)</td>
        <td>{{ q.indifferent_count }} ({% widthratio q.indifferent_count q.total_ranks 100 %} %)</td>
        <td>{{ q.important_count }} ({% widthratio q.important_count q.total_ranks 100 %} %)</td>
        <td>{{ q.vimportant_count }} ({% widthratio q.vimportant_count q.total_ranks 100 %} %)</td>
        <td>{{ q.dont_understand_count }} ({% widthratio q.dont_understand_count q.total_ranks 100 %} %)</td>
        <td>{{ q.total_ranks }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
